{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="{% static 'auctions/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/class" href="{% static 'auctions/styles.css' %}" >

        <style>            
            body {
                padding: 10px;
                background-color: rgb(65, 58, 63); 
                color: white;
            }

            a:hover {
                color: rgb(0, 255, 55);
            }

            .nav-link {
            display: block;
            padding: .5rem 1rem;
            color: rgb(13, 209, 56);
            font-weight: bold;
            }
        </style>
    </head>
    <body>
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <button type="button" class="btn btn-link"><a class="nav-link" href="{% url 'index' %}">Active Listings</a></button>                
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <button type="button" class="btn btn-link"><a class="nav-link" href="{% url 'newlisting' %}">Create New Listing</a></button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-link"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></button>
                </li>
            {% else %}
                <li class="nav-item">
                    <button type="button" class="btn btn-link"><a class="nav-link" href="{% url 'login' %}">Log In</a></button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-link"><a class="nav-link" href="{% url 'register' %}">Register</a></button>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
